body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    color: #283136;
    line-height: 24px;

    background-color: #ffffff;

    min-width: 1200px;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    width: 1200px;
}

.btn{
    display:block;
    width:240px;
    padding:10px 0;
    margin-top:25px;
    font-size:12px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    padding-top: 50px;

    background-color: #eeeeee;
}

.main-nav {
    text-transform: uppercase;
    line-height: 30px;
    color: #000000;

    display: flex;
}

.main-nav__logo {
    margin-right: 200px;

    width: 160px;
    height: 65px;
}

.site-list {
    margin: 0;
    padding: 0;
    list-style: none;

    width: 600px;

    display: flex;
    flex-wrap: wrap;
}

.site-list__item {
    position: relative;
    margin-right: 40px;
    margin-top: 30px;
}

.site-list__item--active {
    pointer-events: none;
}

.site-list__item--active::after {
    content: "";
    display: block;
    width: inherit;
    height: 2px;
    background-color: #fb565a;
}

.site-list__shop,
.site-list__contacts,
.site-list__customers,
.site-list__studio {
    color: #000000;
    text-decoration: none;
}

.list-decorations:hover {
    color: #fb565a;
}

.list-decorations:active{
    color: #ababab;
}

.user-list {
    padding: 0;
    list-style: none;
    margin: 0 0 0 100px;

    width: 160px;
}

.user-list__item {
    margin-top: 30px;
}

.user-list__cart {
    margin-right: 20px;
}

.user-list__cart-link {
    text-decoration: none;
    color: #000000;
}

hr {
    size: 2px;
    color: #eeeeee;
}

.hr-1 {
    margin: 80px 0;
}

.hr-2 {
    margin: 77px 0 45px;
}

.hr-3 {
    margin: 45px 0 80px;
}

.advantages {
    margin-top: 80px;
}

.advantages__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;

}
.advantages__list-item {
    width: 300px;
}

.advantages__web-sites {
    margin-right: 100px;
}

.advantages__apps {
    margin-right: 100px;
}

.advantages__h {
    margin: 0;

    line-height: 30px;
    font-size: 24px;
    color: #000000;
}


.advantages__h {
    margin: 25px 0;
}

.advantages__description {
    margin: 0;
}

.advantages__list-item {
    box-sizing: border-box;
}

.order {
    margin-top: 30px;

    display: inline-block;

    line-height: 18px;
    color: #ffffff;
    text-decoration: none;

    border-radius: 3px;
    padding: 17px 40px;
}

.order.red {
    background-color: #fb565a;
}

.order.green {
    background-color: #00ca74;
}

.order.yellow {
    background-color: #efc84a;
}

.order.green:hover {
    background-color: #00bc6c;
}

.order.yellow:hover {
    background-color: #eab534;
}

.order.red:hover {
    background-color: #e74246;
}

.order.green:active {
    border-top: 3px solid #009958;
    background-color: #00aa62;
    color: #4dc491;

    padding: 14px 40px 17px;
}

.order.yellow:active {
    border-top: 3px solid #ce961f;
    background-color: #e5a722;
    color: #edc265;

    padding: 14px 40px 17px;
}

.order.red:active {
    border-top: 3px solid #c13135;
    background-color: #d7373b;
    color: #e37376;

    padding: 14px 40px 17px;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}


.about-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-list__item {
    margin-top: 30px;
    margin-left: 36px;
    position: relative;
}

.about-list__style {
    position: absolute;
    top: 10px;
    left: -37px;

    width: 27px;
    height: 2px;
    background-color: #fb565a;
    display: block;
}

.studio-about {
    width: 660px;

}

.studio-stats {
    width: 360px;
}


.studio-about__description {
    width: 660px;
    font-size: 43px;
    font-weight: bold;
    line-height: 45px;
}

.studio-about p {
    margin: 30px 0 0;
}

.studio__h {
    margin: 35px 0 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.percentages {
    font-size: 45px;
    line-height: 10px;
    font-weight: bold;
}

.percentages td {
    padding: 0 15px 20px 0;
}

.percentages-description {
    font-size: 16px;
    line-height: 18px;

}

.percentages sup {
    font-size: 25px;
}


.projects__list {
    padding: 0;
    margin: 0;

    list-style: none;

    display: flex;
    justify-content:space-around;
}

.projects__list__item {
    opacity: 0.2;
}

.projects__list__item:hover {
    opacity: 1;
}

.projects__list__item:active {
    opacity: 0.1;
}


.map {
    position: relative;

    margin-bottom: 65px;
}

.map__about {
    position: absolute;
    top: 60px;

    background-color: #ffffff;

    width: 320px;
    box-sizing: border-box;

    padding: 45px 60px 50px 50px;
}

.map__about .btn {
    width: auto;
}

.map__about__nerds {
    margin: 0 0 25px 0;
}

.map__about__contacts {
    font-size: 16px;
    line-height: 18px;
    color: #8f8f8f;
}

.telephone {
    display: block;
    margin: 20px 0 30px;
    color: #8f8f8f;
}

.map-container {
    max-width: 1440px;
}

.map__image {
    margin: 0 auto;

    width: 100%;
    height: 420px;
}

@media (min-width: 1441px) {
    .map-container {
        width: 1440px;
        margin: 0 auto;
    }
}

.page-footer {
    padding-bottom: 70px;
}

.page-footer__wrapper {
    display: flex;
}

.socials {
    width: 260px;

    margin-right: 140px;
}

.socials__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.socials__list__item {
    position: relative;

    list-style: none;
    margin-right: 10px;


}

.socials__icon {
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 50%;

    background-color: #e1e1e1;
}

.social-vk {
    position: absolute;
    top: 32px;
    left: 26px;
}

.social-fb {
    position: absolute;
    top: 30px;
    left: 34px;
}

.social-inst {
    position: absolute;
    top: 32px;
    left: 30px;
}

.socials__icon:hover {
    background-color: #e74246;
}

.socials__icon:active {
    background-color: #d7373b;
}

.socials__icon:active .social-img{
    opacity: 0.3;
}

.friends {
    width: 660px;
}

.friends__go {
    margin: 0;

    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
}

.friends__paragraph {
    margin: 10px 0 0 0;

    line-height: 22px;

    color: #444444;
}


/* Обратная связь */

.feedback {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 960px;
    height: 590px;
    box-sizing: border-box;
    padding: 65px 100px 80px 100px;

    color: #000000;
    background-color: #ffffff;

    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

}

.feedback-show {
    display: block;
    /*
    animation-name: bounce;
    animation-duration: 0.6s;
*/
}

.feedback__h2 {
    margin: 0;
    padding: 0;

    font-size: 45px;
    line-height: 45px;
}

.feedback-form {
    margin-top: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback-form__name-paragraph,
.feedback-form_mail-paragraph {
    width: 360px;
}

#feedback-form__e-mail-id,
#feedback-form__name-id{
    display: block;
    width: 340px;
    padding: 10px;

    font: inherit;
}

.feedback-form label {
    line-height: 18px;
    font-size: 16px;
    font-weight: bold;
}

.feedback .btn {
    margin-top: 30px;
    border: none;
}

.feedback .btn:active {
    border: none;
}

.feedback-form__close {
    position: absolute;
    top: 85px;
    right: 60px;

    width: 25px;
    height: 25px;

    font-size: 0;

    background-color: transparent;
    border: 0;

/*    cursor: pointer;*/
}

.feedback-form__close::before,
.feedback-form__close::after {
    content: "";

    position: absolute;
    top: 7px;
    right: 0;

    width: 25px;
    height: 3px;

    background-color: #fb565a;
    opacity: 0.3;
}

.feedback-form__close::before {
    transform: rotate(45deg);
}

.feedback-form__close::after {
    transform: rotate(-45deg);
}

/* Слайдер */

.header{
    padding-top:35px;
    background:#eeeeee;
}

.slider{
    position:relative;
    width:1160px;
    height: 414px;
    margin:0;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background:#c1c1c1;
}
.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide-text{
    width: 560px;
    padding:30px 0;
    color:#283136;
}
.slide-title{
    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
    color: black;
}

.btn:hover {
    background-color: #e74246;
}

.btn:active {
    color: #e37376;
    background-color: #d7373b;
}

.slide:nth-child(1){
    background-image:url('images/slide1.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide:nth-child(2){
    background-image:url('images/slide2.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide:nth-child(3){
    background-image:url('images/slide3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}


/* Анимации */

@keyframes bounce {
    0% { transform: translateY(-2000px)}
    70% { transform: translateY(30px)}
    90% { transform: translateY(-10px)}
    100% { transform: translateY(0)}
}


/* Стилизация страницы магазина */

.shop-description {
    font-size: 55px;
    line-height: 55px;

}

.main-catalog__container {
    display: flex;
    justify-content: space-between;
}

.section-filter {
    width: 260px;
}

.section-templates {
    width: 760px;
}

.templates__navigation {
    display: flex;
    justify-content: space-between;
}

.sort {
    margin: 0;
    padding: 0;

    display: flex;
    width: 360px;

    list-style: none;
}

.sort__item {
    margin-right: 20px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.sort__href {
    color: #b2b2b2;
    text-decoration: none;
}

.sort__href--active {
    color: #000000;
    cursor: default;
}

.sort__href:hover {
    color: #d6d6d6;
}

.sort__href:active {
    color: #888888;
}

.sort__href--active:active {
    color: #000000;
    cursor: default;
    pointer-events: none;
}

.sort__href--active:hover {
    color: #000000;
    cursor: default;
}

.templates {
    position: relative;

    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.templates__link img{
    margin-top: -10px;
}

.templates__item {
    position: relative;

    margin-top: 33px;

    display: block;
    width: 360px;
}

.templates__link:hover path {
    fill: #4D4D4D;
}

.item__description {
    position: absolute;
    top: 420px;

    background-color: #eeeeee;
    text-align: center;

    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 18px;

    color: #666666;

    height: 210px;
    width: 360px;
}

.item__description p {
    padding: 0;
    margin: 0;
}

.name_of_template {
    color: #000000;
    
    font-size: 18px;
    line-height: 30px;

    margin: 0;
    padding-top:  30px;
    padding-bottom: 25px;
}

.item__description .btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    display: inline-block;

    width: 200px;
}

.form__cost {
    font-weight: bold;
}

.templates__page {
    margin-bottom: 60px;
}

.page_btn {
    display: inline-block;

    background-color: #eeeeee;
    color: #000000;

    width: 50px;
    height: 53px;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-right: 20px;

    border-radius: 6px;
    text-decoration: none;
}

.page_btn:active {
    background-color: #d5d5d5;
}

.page_btn:hover {
    background-color: #dfdfdf;
}

.page_btn--active {
    width: 50px;
    height: 55px;
    box-sizing: border-box;
    border: 3px solid #eeeeee;
    background-color: #ffffff;

    cursor: default;
}
.page_btn--active:hover {
    background-color: #ffffff;
}

.page_btn--active:active {
    background-color: #ffffff;
}

.page_btn_next {
    padding: 15px 77px;
    width: 250px;
}



/*Фильтр в магазине*/
.range-filter {
    width: 240px;
    margin-top: 50px;
    margin-bottom: 55px;
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 50px;
}

.range-controls .toggle-max {
    left: 110px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

